name: Build

'on':
  push:
    paths:
      - "*.yml"

  pull_request:
    paths:
      - "*.yml"

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: 3

      - run: |
          python3 -m pip install pip
          pip3 install ansible ansible-lint yamllint
          ansible-galaxy collection install community.general

      - run: ansible-lint .
